

<section class="section video" data-section="section5">
    <div class="col-md-12">
        <div class="section-heading" style="margin-bottom: 40px!important;">
            <h2>O modelu</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center" style="margin-top: -30px;">
                <div class="left-content">
                    <h4>Konferencijski<em> sistem</em></h4>
                    <p style=" text-align: justify;">
                        Napravljen je sistem za praćenje naučno-stručnih konferencija. Konferenciju, koja se odlikuje svojim identifikacionim brojem, nazivom, datumima njenog početka i završetka, organizuje organizator. Jednu konferenciju organizuje uvek samo jedan organizator, medjutim taj organizator može prirediti više različitih konferencija (najmanje da bi sei klasifikovao kao organizator). Organizator obavezno ima sedište u samo jednom, dok u nekom gradu ne mora biti nijedan organizator, a može ih biti više. Konferencija se održavaju u jednoj ili više sala koje imaju svoju jedinstvenu, Naziv, Adresu na kojoj se nalazi, Kapacitet (broj mesta za sedenje) i podatak da li postoji Ozvučenje ili ne.  Učesnik konferencije ima identifikacioni broj(ID_Ucesnika), ime, prezime, Naziv institucije iz koje dolazi, kontakt telefom i e-mail adresu. Učesnici konferencije inače dolaze iz raznih država, tako da je učesnik uvek iz jedne države, dok iz neke države ne mora doći ni jedan učesnik ili ih može doći više. Učesnik može biti Autor jednog ili više radova koji su prihvaćeni za izlaganje na konferenciji, ali isto tako ne mora biti autor nijednog rada. Za rad koji je prihvaćen za prezentaciju na konferenciji dodeljuje se Broj_rada a beleže se i sledeći podaci: naziv, oblast, obim i dodeljuje mu u se kategorija prema značaju. Da bi učesnik izlagao rad u nekoj sali određenog datuma i u određeno vreme, mora biti ispunjen uslov da je napisao taj rad tj. da je jedan od autora tog rada. Učesnik svoj rad u nekoj sali ne mora ni izlagati, ali ga tokom vremena može izlagati u više sala (s tim da jedan autor svoj rad može izlagati više puta u istoj sali) pri čemu se za svako izlaganje osim termina vodi i evidencija o tipu sesije. Tip sesije može biti: 'Pozivna', 'Uvodna', 'Redovna', 'Poster', 'Strucna' i 'Radionice'.

                    </p>
                    <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <article class="video-item">
                    <div class="video-caption">
                        <h4>POGLEDAJTE VIDEO</h4>
                    </div>
                    <figure>
                        <a href="https://www.youtube.com/watch?v=Gxw45q3Ga3k" class="play"><img src="~/assets/images/choose-us-image-03.png"></a>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>


