<!DOCTYPE html>
<html lang="en">


<body>




    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="~/assets/images/course-video_Trim.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Dobrodosli u sistem za praćenje naučno-stručnih</h6>
                <h2><em>konferencija</em> </h2>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->


    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="features-post">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-pencil"></i>Konferencije</h4>
                            </div>
                            <div class="content-hide">
                                <p>Dobrodosli u jedinstveni sistem za praćenje naučno-stručnih konferencija. Ovde imate mogucnost da pogledate sve dostupne konferencije.</p>
                                <div class="scroll-to-section"><a href="https://localhost:44358/home/allkonferencijas" class="external">More Info.</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post second-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-graduation-cap"></i>Ucesnici</h4>
                            </div>
                            <div class="content-hide">
                                <p>Pogledajte listu svih ucesnika konferencija</p>
                                <div class="scroll-to-section"><a href="https://localhost:44358/ucesnik/allucesniks" class="external">Detaljnije</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post third-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-book"></i>Organizatori</h4>
                            </div>
                            <div class="content-hide">
                                <p>Takodje mozete pogledati sve organizatore trenutnih konferencija.</p>
                                <div class="scroll-to-section"><a href="https://localhost:44358/organizator/allorganizators" class="external">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
</html>

